<app-header></app-header>

<!-- Contenido principal -->
<div class="page-content">

  <app-barra-navegacional></app-barra-navegacional>

  <div style="display: flex; gap: 20px; justify-content: center; flex-wrap: wrap; margin-top: 10px;">
    <!-- Tarjeta para Home 1 -->
    <div *ngIf="checkHomeAccess()" class="custom-card card-blue" [routerLink]="['/menu/home']" tabindex="0" role="button" aria-label="Ir a Material de estudio Cápsula">
      <div class="card-header">
        <mat-icon style="color: #611232;">menu_book</mat-icon>
        <h3 style="color: #611232;">Material de estudio Cápsula</h3>
      </div>
      <div class="card-content">
        <p>Módulo que contiene material de estudio de los conceptos básicos de Angular.</p>
      </div>
    </div>

    <!-- Tarjeta para Home 2 -->
    <div class="custom-card card-green" [routerLink]="['/menu/home2']" tabindex="0" role="button" aria-label="Ir a Administrar Usuarios">
      <div class="card-header">
        <mat-icon style="color: #611232;">group</mat-icon>
        <h3 style="color: #611232;">Administrar Usuarios</h3>
      </div>
      <div class="card-content">
        <p>Módulo para la administración de usuarios.</p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

